/****************** EMBEDING NEEDED FONTS ***********************/

/************************************** Generic & Reset Css ***********************************/
* {
    margin: 0;
    padding: 0;
}

a {
    color:#999;
    font-weight:normal;
    text-decoration:none;
}

a:hover {
    color:#666;
    text-decoration:none;
}

p {
    text-align:left;
    margin-bottom:0;
}

.inv {
    position:absolute;
    font-size:9px;
    left:-9999px;
}

.hidden{
    display:none;
}

.clr {
    margin:0;
    padding:0;
    clear:both;
}

html {
    font-size:12px;
    width:100%;
    height:auto;
    font-family:Georgia,Times New Roman,Serif;
    color:#333;
}

body {
    width:100%;
    height:auto;
    background-color:#FFF;
}

h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code {
    padding: 0;
    margin: 0;
    line-height: 16px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

table {
    font-size: inherit;
    margin-bottom:15px;
    float:left;
}

ul {
    list-style: none;
}

img {
    border: 0;
    float:left;
}

strong {
    font-weight:bold;
    font-size: inherit;
    line-height:inherit;
}

td {
    padding:5px 10px;
    text-align:center;
}

.bold {
    font-weight:bold;
}
/****************** BASIC FLOATING ALL CONTENTS *****************/
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: none;
    z-index:-1;
    display:none;
}

.superWrapper {
    float:left;
    height:auto;
    min-height:550px;
    width:100%;
    min-width:960px;
}

.wrapper {
    width:960px;
    height:auto;
    margin: 0 auto;
    overflow: visible;
}

.row{
    float:left;
    width:100%;
    clear:both;
}
/********************** HEADER *******************************/
#header{
    background-color:#EEE;
}

#logo {
    float:left;
    margin:20px;	
}
/******************* BUSINESS MOTO ********************/
h1{
    float:right;
    clear:right;
    color:#000;
    margin:20px;
    font-size:30px;
    display:block;
    padding:0;
    width:500px;
    line-height:36px;
}
/********************** CONTENTS *******************/
#message{
    width:96%;
    padding:14px 2%;
    float:left;
    background-color:#B5082B;
    color:#FFF;
    font-size:14px;
    border-radius: 8px;
    margin:14px 0;
    clear:both;
}

#message.green{
    background-color:#77b802;
}

#message p{
    margin:0!important;
}

#contents {
    float:left;
    width:100%;
    min-height:300px;
}

#contents h2 {
    font-size:24px;
    line-height:24px;
    width:100%;
    margin-bottom:14px;
    font-weight:bold;
    float:left;
    display:block;
}

#contents h3{
    font-weight:bold;
    margin-bottom:10px;
    font-size:14px;
    line-height:16px;
    float:left;
    width:100%;
}

#contents h4{
    margin-bottom:10px;
    font-size:14px;
    line-height:16px;
    text-decoration:underline;
    float:left;
    width:100%;
}

#contents p {
    width:100%;
    margin-bottom:14px;
    text-align:left;
    float:left;
}   
#contents a {
    color:#999;
}

#contents a:hover {
    color:#666;
}

#contents ul {
    float:left;
    list-style:circle;
    padding-left:4%;
    margin-bottom:14px;
    width:96%;
}
.contents ol {
    float:left;
    list-style:decimal;
    padding-left:4%;
    margin-bottom:14px;
    width:96%;
}
#contents li {
    float:left;
    width:100%;
}
/****************** LOGIN/LOGOUT *****************/
.loginHolder{
    margin:30px auto;
    float:none;
    border:1px solid #999;
    padding:20px;
}

.loginHolder input[type="text"], .loginHolder input[type="password"]{
    width: 160px;
    border: 1px solid #999999;
}

.loginHolder label{ 
    font-weight: bold;
}

#loginInfo{
    width:96%;
    padding:14px 2%;
    float:left;
    background-color:#ccc;
    color:#000;
    font-size:14px;
    margin:0 0 20px 0;
    clear:both;
}

#loginInfo p{
    margin:0!important;
    width:50%;
    font-weight:bold;
    line-height: 25px;
}

#loginInfo a{
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    position: relative;
    width: 120px;
    text-align: center;
    background-color: #333;
    color:#FFF;
    border:1px solid #666;
    display:block;
    float:right;
}

#loginInfo a:hover {
    cursor:pointer;
    background-color: #666;
    color:#FFF;
    border:1px solid #999;
}
/****************** FORMS ****************/
label{
    font-size: 14px;
    height: 25px;
    line-height: 25px;  
}

input[type="text"] {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    position: relative;
    width: 260px;
    border: 1px solid #999999;
    border-radius: 4px;
}

select{
    font-size: 14px;
    padding: 3px 5px;
    position: relative;
    width: 272px;
    border: 1px solid #999999;
    border-radius: 4px;
}

textarea {
    font-size: 14px;
    padding: 3px 5px;
    position: relative;
    width: 360px;
    border: 1px solid #999999;
    border-radius: 4px;
}

input[type="password"] {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    position: relative;
    width: 260px;
    border: 1px solid #999999;
    border-radius: 4px;
}

input[type="submit"] {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    position: relative;
    width: 120px;
    text-align: center;
    background-color: #333;
    color:#FFF;
    border:1px solid #666;
    padding-bottom:3px;
    margin:10px 0;
    float:left;
    clear:left;
}

input[type="submit"]:hover {
    cursor:pointer;
    background-color: #666;
    color:#FFF;
    border: 1px solid #999999;
    border-radius: 4px;
}

/****************** FOOTER *****************/
#footer {
    width:100%;
    background-color:#EEE;
    padding:10px 0;
    margin-top:20px;
}

#footer p{
    padding:0 10px;
}
/**************** CAROUSEL STYLES ***********************/
#slider {
    float: left;
    margin: 0;
    overflow: hidden;
    width: 100% !important;
    z-index: 98;
}

.carouselNav {
    background: url("../../img/admin/carouselNavBg.jpg") repeat-x scroll 0 0 transparent;
    float: left;
    height: 44px;
    width: 100%;
}

.carouselNav ul {
    display: block;
    float: left;
    height: 44px;
    list-style: none outside none;
    margin: 0;
    padding: 0 2%!important;
    width: 96%!important;
}

.carouselNav li {
    display: block;
    float: left;
    list-style: none outside none;
    width: auto !important;
}

.carouselNav li a {
    background: url("../../img/admin/carouselNavActiveBg.jpg") no-repeat scroll 50% 44px transparent;
    color: #FFFFFF!important;
    display: block;
    float: left;
    font-size: 1.4em;
    height: 44px;
    line-height: 44px;
    margin: 0;
    padding: 0;
    transition: background-position 400ms ease-in 0s;
}

.carouselNav li a span {
    background: url("../../img/admin/carouselNavActiveW.jpg") no-repeat scroll 50% 44px transparent;
    display: block;
    float: left;
    height: 44px;
    margin: 0;
    padding: 0 10px;
    transition: background-position 300ms ease-in 0s;
    white-space: nowrap;
}

.carouselNav li .active {
    background-position: 50% 0 !important;
    color: #ffc512!important;
}

.carouselNav li .active span {
    background-position: 50% 100% !important;
    color: #ffc512!important;
}

.carouselNav li a:hover {
    color: #ffc512!important;
    cursor: pointer;
}

.scroll {
    clear: left;
    float: left;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.carouselSlides {
    float: left;
    overflow: hidden;
    width: 960px;
}

.slide {
    float: left;
    position: relative;
    width: 960px;
}
/************************* FORM STYLING ***********************/
#appSettings dt, #appTexts dt{
    float:left;
    width:35%;
    clear:left;
    margin:6px 0;
}

#appSettings dd, #appTexts dd{
    float:left;
    width:65%;   
    margin:6px 0; 
}

ul.errors{
    display:block;
    list-style: none;
    padding:0!important;
    margin:6px 0 0 0!important;;
    float:left;
    clear:left;
    width:100%;
}

ul.errors li{
    display:block;
    list-style: none;
    padding:0;
    margin: 0;
    float:left;
    color:#B5082B;
}

.formElementRow {
    float:left;
    margin:8px;
    padding:12px 6px;
    border:1px solid #999;
    float:left;
}

.formElementColumn{
    width:48%;
    float:left;
    margin:0 1%;
}

.radioOptions{
    display:none;
}

.formElementRowRadio .radioOptions{
    display:block;
}

.radioOptionSet{
    border:none;
    margin-bottom:6px;
}

.radioOptionSet a{
    margin:5px 5px 0 0;
    float:left
}

.radioOptionSet .removeFields{
    color:#B5082B!important;
}

.radioOptionSet .addMoreFields{
    color:#77b802!important;
}

.radioOptionSet a:hover{
    color:#666!important;
}

#appFields dt{
    float:left;
    width:35%;
    clear:left;
    margin:6px 0;
}

#appFields dd{
    float:left;
    width:65%;   
    margin:6px 0; 
}