/********** GENERIC & RESET CSS ***********************************/
* {
    margin: 0;
    padding: 0;
    outline: none!important;
}

*:focus{
    outline: none!important;
}

a {
    color:#D4D69C;
    font-weight:normal;
    text-decoration:none;
}

a:hover {
    color:#9fa617;
    text-decoration:none;
}

p {
    text-align:left;
    margin-bottom:0;
}

.inv {
    position:absolute;
    font-size:9px;
    left:-9999px;
}

.hidden{
    display:none;
}

.clr {
    margin:0;
    padding:0;
    clear:both;
}

html {
    font-size:15px;
    line-height:22px;
    width:100%;
    height:auto;
    font-family:Georgia, Arial;
    color:#000;
}

body {
    width:100%;
    height:auto;
    background-color:#FFF;
    color: #000;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code {
    padding: 0;
    margin: 0;
    font-size:15px;
    line-height:22px;
    font-weight: normal;
    font-style: normal;
}

table {
    font-size: inherit;
    margin-bottom:15px;
    float:left;
}

ul {
    list-style: none;
}

img {
    border: 0;
    float:left;
}

strong {
    font-weight:bold;
    font-size: inherit;
    line-height:inherit;
}

td {
    padding:5px 10px;
    text-align:center;
}

.bold {
    font-weight:bold;
}

iframe{
    left:0;
}
/************* FB APP STYLES *******************************/
#fb_wrapper {
    width: 760px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}

.header{
    float: left;
    width: 720px;
    padding: 20px;
}

.contentsHolder{
    float: left;
    width: 720px;
    padding: 20px;
}

#fb_content_copy{
    clear: both;	
    float: left;
    width: 100%;
}

#fb_form {
    clear: both;	
    float: left;
    width: 100%;
}

.smoIcons {
    clear: both;	
    float: left;
    width: 100%;
}
/************* FORM ELEMENTS *******************************/
form#fbForm dd, form#fbForm dt {
    float: left;
    clear: both;
    margin: 0;	
}
form#fbForm dt {
    width: 100%;	
    position: relative;
    margin: 4px 0 2px 0;
}

form#fbForm dd {
    position: relative;
    z-index: 97;
}

form#fbForm p {
    clear: both;
    display: block;	
    float: left;
}

form#fbForm span {
    width: 100%;
    position: relative;	
    display: block;
    float: left;
    clear: both;
}

#fbNewsOffers-label{
    display:none;
}

form#fbForm dd input {
    float: left;	
}

form#fbForm dd input[type=text]{
    font-size:17px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    position: relative;
    width: 260px;
    z-index: 97;
}

input[type=radio], input[type=checkbox] {
   border: none!important;
   box-shadow:0 0 0 0 #FFF!important;
   margin:3px 10px 3px 0;
}

form#fbForm dd input[type=submit], div#fb_buttons input[type=button], .button{
    margin:6px 0;
    background: url(/assets/img/competition/btnBg.jpg) 0 0 no-repeat;
    padding: 0 0 4px 0;
    width:168px;
    height: 36px;
    line-height: 32px;
    color: #000!important;
    font-style: italic;
    font-size: 16px;
    border: none;
    display: block;
    font-family: Georgia,Arial;
    text-align: center;
    font-weight: bold;
    font-size:14px;
    text-decoration: none!important;
}

.submit form#fbForm dd input[type=submit], .submit div#fb_buttons input[type=button], .submit .button{
    background: url(/assets/img/competition/btnBg.png) 0 0 no-repeat;
    width:176px;
}

#BrowserVisible{
    padding-right:146px;
}

#fileBtnSpan{
    background: url(/assets/img/competition/browseBtn.jpg) 0 0 no-repeat;
    width:146px!important;
    float:none!important;
    position:absolute!important;
    top:0!important;
    right:0!important;
    margin: 0!important;
    padding: 0!important;
    height: 32px!important;  
    
}

a.button{
    height: 32px;    
}

form#fbForm dd input[type=submit]:hover, div#fb_buttons input[type=button]:hover, .button:hover{
    /*background-position:0 -36px;*/
    cursor: pointer;
    color: #333!important;
}

#fileBtnSpan:hover{
    background-position:0 0;
    cursor: pointer;
    color: #333;
}

#BrowserVisible{
    margin-top:-27px!important;
    position: relative;
    z-index: 96!important;
}

#playerImage {
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 99!important;
    cursor: pointer;
    position: relative;
    font-size: 15px!important;
    width:418px!important;
    height:27px!important;
}

form#fbForm{
    position: relative;
}

form#fbForm dd label {
    margin: 8px 0;	
    display: block;
}

form#fbForm dd label input[type=radio] {
    margin-right: 8px;	
}

form#fbForm p.required, form#fbForm p.description {
    float: left;
    clear: none;
    margin: 0 3px!important;
    position: relative;
    z-index: 97;
    font-family:verdana,arial;
    letter-spacing: 0;
}
	
#fbForm p.required, #fbForm strong.required {
    color:#b5082b;
}

form#fbForm p.description {
    font-weight: normal;	
}

form#fbForm small {
    display: block;
    float: left;
    clear: both;
    margin: 0 0 15px 0;	
    font-size: 12px;
}

#fbNewsOffers-label{
    display:none!important;
}

#fbTermsConditions-label{
    margin-top:-17px;
}

form#fbForm p.errors {
    color: #FFF;
    background-color: #B5082B;
    padding: 0 10px 0 0;
    clear: none;
    display: block;
    width: auto;
    position: absolute;
    right: 0px;
    margin: 0;
    left: -3px;
    z-index: 10;
    text-align: right;
    height: 32px;
    line-height: 32px;
    font-size:9px;
    letter-spacing: 0;
    font-family: Verdana, Arial;
}

form#fbForm p.errors.checkbox {
    top: 15px;	
}

/* FB Ui bugs */
.FB_UI_Hidden { 
    width: 100px !important; 
}