body {
	background: #000 url(/assets/img/competition/bg.jpg) center top no-repeat;
	min-height: 800px;
}

.leaderboard,
.video-scrubber,
.live-feed,
.tweets,
.now-playing,
.score {
	position: absolute;
	left: 50%;
	/*background-color: #fff;*/
}

/* Leaderboard */
.leaderboard {
	width: 342px;
	height: 251px;
	top: 140px;
	margin-left: -590px;
}

.leaderboard ul,
.tweets ul {
	margin: 0 10px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 0px #000;
}

.leaderboard li,
.tweets li {
	border-top: 1px solid rgba(0, 0, 0, 0.14);
	border-bottom: 1px solid rgba(255, 255, 255, 0.14);
	padding-left: 10px;
	padding-right: 10px;
}

.leaderboard li:first-child,
.tweets li:first-child {
	border-top: none;
}

.leaderboard li:last-child,
.tweets li:last-child {
	border-bottom: none;
}


.leaderboard li {
	overflow: hidden;
	height: 48px;
	line-height: 48px;
	font-size: 24px;
}
.username {
	float: left;
}

.userscore {
	float: right;
	width: 80px;
	text-align: right;
}

/* Video Scrubber */
.video-scrubber {
	width: 500px;
	height: 301px;
	top: 136px;
	margin-left: -208px;
	/*border-radius: 5px;
	box-shadow: 20px 20px 27px rgba(0,0,0,0.2);*/
}

/* Live feed */
.live-feed {
	width: 443px;
	height: 272px;
	top: 490px;
	margin-left: 157px;
	/*border-radius: 5px;
	box-shadow: 20px 20px 27px rgba(0,0,0,0.2);*/
}

/* Latest tweets */
.tweets {
	width: 334px;
	height: 208px;
	top: 545px;
	margin-left: -575px;
}

.tweets li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.tweets a {
	color: orange;
}

/* Now playing */
.now-playing {
	width: 276px;
	height: 242px;
	top: 95px;
	margin-left: 319px;
	text-align: center;
}

.now-playing-img {
	border-radius: 3px;
}

.now-playing-name {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	line-height: 2;
	text-transform: uppercase;
}

/* Score */
.score {
	width: 106px;
	height: 106px;
	top: 347px;
	margin-left: 397px;
	line-height: 106px;
	text-align: center;
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 0 -1px 2px #000;
}


#fb_wrapper {
    width: 1280px;
    padding: 0 14px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.header{
    float: left;
    width: 100%;
    padding: 30px 0 16px 0;
    border-bottom: 1px dotted #e97810;
}

.contentsHolder{
    float: left;
    width: 100%;
}

.contentsHolderOuter{
    width:100%;
    float:left;
}

*:focus{
    outline: none!important;
}

a {
    color:#D4D69C;
    font-weight:normal;
    text-decoration:none;
}

a:hover {
    color:#9fa617;
    text-decoration:none;
}

p {
    text-align:left;
    margin-bottom:0;
}

.inv {
    position:absolute;
    font-size:9px;
    left:-9999px;
}

.hidden{
    display:none;
}

.clr {
    margin:0;
    padding:0;
    clear:both;
}


ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

strong {
    font-weight:bold;
    font-size: inherit;
    line-height:inherit;
}

td {
    padding:5px 10px;
    text-align:center;
}

.bold {
    font-weight:bold;
}

iframe{
    left:0;
}

/****************** WRAPPER STYLES ******************/
.adImage{
    float:right;
    width:373px;
    height:361px;
    display:block;
}

.competition .sideHeaders{
    float:left;
    width:247px;
}

/****************** Specific styles for competition app ****************/

#fb_content_copy{
    float: left;
    width: 100%;
}

/***************** COMPETITION TYPOGRAPHY *******************/

h1{
    font-size:34px;
    line-height:40px;
    margin-top:58px;
    margin-bottom:32px;
    text-transform:capitalize;
}

h2{
    font-size:16px;
    line-height:22px;
    margin-bottom:32px;
}

h3{
    font-size:22px;
    line-height:26px;
    color:#e67207;
    margin-bottom:14px
}

h4{
    font-size:18px;
    line-height:24px;
    color:#e67207;
    margin-bottom:14px
}

p{
    margin-bottom:14px
}

a{
    color:#e67207;
    text-decoration: underline;
}

a:hover{
    color:#FFF;
    text-decoration: none;
}

p strong{
    font-weight:bold;
}

strong.required {
    color:#e67207;
    font-weight:normal;
}