
/************* FORM STYLES *******************************/

#fb_form {
    clear: both;	
    float: left;
    width: 100%;
}

.startingField{
    float:left;
    width:100%;
}

.fieldsListing{
    float:left;
    width:410px;
    padding:0 180px 0 30px;
}

p.required{
    display:none;
}

#fbForm p.required, #fbForm p.description {
    line-height: 22px;
}

.textAreaHolder{
    float:left;
    width:100%;
}

.textAreaHolder dt{
    display:block!important;
}

#fbForm dl{
    float: left;
    width:100%;
}

#fbForm dd{
    float: left;
    margin: 0;	
    position: relative;
    z-index: 97;
}

#fbForm dt {
    float: left;
    clear: both;
    position: relative;
    margin: 4px 0 2px 0;
    width:160px;
}

#fbForm p {
    clear: both;
    display: block;	
    float: left;
}

#fbForm span {
    width: 100%;
    position: relative;	
    display: block;
    float: left;
    clear: both;
}

#fbForm .submitWrapper{
    margin:10px 0;
    clear:both;
    width:100%;
}

/************* FORM ELEMENTS *******************************/

textarea {
    font-size: 14px;
    line-height: 18px;
    color:#fff;
    padding: 0 5px;
    float:left;
    width: 236px;
    border: 1px solid #E67207;
    background-color:#E67207;
    margin-bottom:10px;
}

#fbForm label{
    font-size:14px;
    line-height: 21px;
}

#fbForm input {
    float: left;	
}

#fbForm input[type="text"] {
    font-size:14px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    position: relative;
    width: 236px;
    z-index: 97;
    border: 1px solid #E67207;
    background-color:#E67207;
    color:#FFF;
    float:left;
    margin-bottom:10px;
}

#BrowserVisible{
    padding-right:92px;
    margin-top:-27px!important;
    position: relative;
    z-index: 96!important;
}

#FileField{
    width: 345px;    
}

#fileBtnSpan{
    background: url(/assets/img/competition/browseBtn.jpg) 0 0 no-repeat;
    width:92px!important;
    float:none!important;
    position:absolute!important;
    top:0!important;
    right:0!important;
    margin: 0!important;
    padding: 0!important;
    height: 32px!important; 
    color:#FFF!important;  
}

#fileBtnSpan:hover{
    background-position:0 0;
    cursor: pointer;
    color: #333;
}

.checkboxHolder{
    float:left;
    width:100%;
    margin-bottom: 6px;
}

input[type="radio"], input[type="checkbox"] {
   border: none!important;
   box-shadow:0 0 0 0 #FFF!important;
   margin:3px 10px 3px 0;
}

#fbForm input[type="checkbox"] {
    margin: 3px!important;
}

.checkboxHolder span{
    display:none!important;
}

.fbTermsConditionsHolder{
    float: left;
    width:100%;
}

#fbForm input[type="submit"], #fbForm input[type="button"], .button{
    margin:6px 0;
    background-color:#E67207;
    padding: 0 22px 4px 22px;
    height: 36px;
    line-height: 32px;
    color: #FFF;
    font-size: 16px;
    border: none;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size:14px;
    text-decoration: none!important;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

a.button{
    height: 32px; 
    padding: 0;
}

#fbForm input[type="submit"]:hover, #fbForm input[type="button"]:hover, .button{
    color: #FFF !important;
    cursor:pointer;
}

#fbNewsOffers-label{
    display:none;
}

#playerImage {
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 99!important;
    cursor: pointer;
    position: relative;
    font-size: 15px!important;
    width:418px!important;
    height:27px!important;
    font-size: 17px !important;
}

#fbForm dd label {
    margin: 8px 0;	
    display: block;
}

#fbForm dd label input[type="radio"] {
    margin-right: 8px;	
}

#fbForm p.required, #fbForm p.description {
    float: left;
    clear: none;
    margin: 0 3px!important;
    position: relative;
    z-index: 97;
    letter-spacing: 0;
}
	
#fbForm p.required, #fbForm strong.required {
    color:#b5082b;
}

#fbForm p.description {
    font-weight: normal;	
}

#fbForm small {
    display: block;
    float: left;
    clear: both;
    margin: 0 0 15px 0;	
    font-size: 12px;
}

#fbTermsConditions-label{
    margin-top:-17px;
}

#fbForm p.errors {
    color: #FFF;
    background-color: #B5082B;
    padding: 0 10px 0 0;
    clear: none;
    display: block;
    width: auto;
    position: absolute;
    right: 0px;
    margin: 0;
    left: 0;
    z-index: 10;
    text-align: right;
    height: 32px;
    line-height: 32px;
    font-size:9px;
    letter-spacing: 0;
}

#fbForm p.errors.checkbox {
    top: 15px;	
}

/************************ ERRORS **********************/

.errorHolder{
    float:right;
    width:260px;
    clear:both;
    padding:0 180px 0 30px;
    margin-top:-68px;
}

.errorHolder p{
    color:#ed1c24!important;
    font-size:14px!important;
    margin-bottom:6px;
}

.errorField{
    border-color:#ed1c24!important;
    color:#ed1c24!important;
    background-color: #fcdbdc!important;
}

/***************** REQUESTED FINAL CHANGES *************/
#question-label{
    display:none!important;
}

.selectionList{
    float:left;
    width:100%;
    margin-bottom:24px;
}

.selectionList label{
    margin:2px 0!important;    
}

.fullWidth{
    margin-top:24px!important;   
    margin-bottom:8px!important;   
}

#formFooter{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 32px;
    float:left;
    width:100%;
    margin-top:24px!important;  
}
/****************** THANK YOU PAGE **************/

#fb_wrapper.submit {
}

#fb_wrapper.submit p{
}

#fb_wrapper.submit h3{
}